* {
    margin: 0;
}

@media only screen and (min-width: 430px) {
    .mobilestart, .navmobil, .logomobil, .menu-button, .material-icons, .welcomemobil, .welcome1, .gymfaktis, .yoga, .yogafakta, .yinis, .yinis2, .yinis3, .yinis4, .klattra, .belowfooter, .belowrubrik, .belowstrong, .belowtext, .footermobil, .footerlogo, .menu, .anlaggningsrubrikmobil, .anlaggningrubrikbeskrivning, .gymmobil, .vartee, .gymrubrik, .adress, .postnummer, .oppetider, .kontaktism, .blimedlemmobil, .blimedlemmobilrubrik, .blimedlembeskrivningm, .pgam, .rubis, .rubisbe, .knappis, .bokningmobil, .bokarubrikmobil, .bokarubrikbeskrivning, .torsdag183m, .centerbesok, .GibraltargatanM, .KaserntorgetM, .LindholmenM, .KlatterlabbetM, .tillboka, .zoombildM, .zoombildB, .seschematM, .bokningsreglerM, .bokningRB, .listan, .fragor, .grupptraningrubrikmobil, .grupptraningbeskrivningmobil, .utbudmobil, .varautbud, .corebildmobil, .funktionellbildmobil, .konditionsbildmobil, .styrkebildmobil, .yogamobil, .bollsportmobil, .crossfitmobil, .dansbildmobil, .ovrigbildmobil, .corerutan, .beskrivningrubrikmobil, .beskrivningompassetmobil, .vadvierbjuderm, .corerutabild, .funktionellrutan, .konditionsrutan, .avslappningsrutan, .styrkerutan, .bollsportrutan, .crossfitrutan, .dansrutan, .ovrigruta, .checkerM, .mySlides {
        display: none;
    }
    .newfooter {
        background-color: black;
        display: flex;
        justify-content: center;
    }
    .navdesk {
        background-color: black;
        width: 100%;
        height: 80px;
        display: grid;
        grid-template-areas: 
        "lo n1 n2 n3 n4"
        ;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(1, 1fr);
        display: flex;
        justify-content: center;
        align-items: center;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }
    .logointro {
        width: 140px;
        height: 50px;
        grid-area: lo;
        margin: 20px;
        border-radius: 35px;
    }
    .naviga {
        color: white;
        font-size: 19px;
        font-family: 'Work Sans', sans-serif;
        margin: 50px;
    }
    .nav4 {
        background-color: #78c70a;
        border-radius: 40px;
        padding: 15px;
    }
    .welcome {
        width: 100%
    }
    .bildspel {
        display: grid;
        grid-template-areas:
        "w3-content w3-display-container gymback1"
        ;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
    .gymback1 {
        width: 630px;
        height: 400px;
    }
    .bryt {
        background-color: black;
        color: white;
        font-size: 40px;
        display: flex;
        justify-content: center;
        
    }
    .kuriosa {
        display: grid;
        width: 100%;
        height: 1050px;
        grid-template-areas: 
        "a1 a2 a3"
        "a4 a5 a6"
        ;
        background-color: black;
        color: white;
    }
    .insbild {
        width: 100%;
        height: 350px;
    }
    .tryckknapp {
        padding: 10px;
        margin: 20px;
        background-color: #78c70a;
        margin-left: 90px;
        margin-right: 90px;
        display: flex;
        justify-content: center;
        border-radius: 30px;
    }
    .corona {
        background-color: yellow;
    }
    .warning {
        width: 80px;
        height: 80px;
        margin-left: 40px;
    }
    .aktuellt {
        font-size: 35px;
        margin-top: 90px;
        margin-left: 90px;
    }
    .semer {
        font-size: 20px;
        padding: 20px;
        background-color: black;
        color: white;
        margin-left: 120px;
        border-radius: 30px;
    }
    .belowfooter1 {
        background-color: #191919;
        color: white;
        height: 1130px;
    }
    .grupptraningintro {
        background-color: black;
        height: 200px;
    }
    .grupptraningrubrik {
        font-size: 50px;
        color: white;
        display: flex;
        justify-content: center;
    }
    .beskrivgrupp {
        font-size: 25px;
        color: white;
        display: flex;
        justify-content: center;
    }
    .gruppnavigator {
        display: grid;
        height: 600px;
        grid-template-areas: 
        "co fu ko"
        "st av bo"
        "cr da ov"
        ;
        background-color: black;
        
    }
    .core {
        background-color: darkred;
        width: 80%;
        margin: 40px;
        border-radius: 100px;
    }
    .funktionelltraning {
        background-color: darkblue;
        width: 80%;
        margin: 40px;
        border-radius: 100px;
    }
    .konditionstraning {
        background-color: white;
        width: 80%;
        margin: 40px;
        border-radius: 100px;
    }
    .styrketraning {
        background-color: orange;
        width: 80%;
        margin: 40px;
        border-radius: 100px;
    }
    .avslappning {
        background-color: turquoise;
        width: 80%;
        margin: 40px;
        border-radius: 100px;
    }
    .bollsport {
        background-color: green;
        width: 80%;
        margin: 40px;
        border-radius: 100px;
    }
    .crossfit {
        background-color: grey;
        width: 80%;
        margin: 40px;
        border-radius: 100px;
    }
    .dans {
        background-color: yellow;
        width: 80%;
        margin: 40px;
        border-radius: 100px;
    }
    .ovrigt {
        background-color: purple;
        width: 80%;
        margin: 40px;
        border-radius: 100px;
    }

    .beskrivningrubrik {
        grid-area: br;
        color: white;
        font-size: 60px;
        margin-left: 20px;
    }
    .beskrivningompasset {
        grid-area: bo;
        color: white;
        font-size: 20px;
        margin-left: 20px;
    }
    .corebeskrivning {
        height: 150px;
        background-color: darkred;

    }
    .vadvierbjuder {
        background-color: darkred;
        font-size: 60px;
        display: flex;
        justify-content: center;
        color: white;
    }
    .corebilder {
        display: grid;
        height: 400px;
        background-color: darkred;
        grid-template-areas: 
        "lc tr pc"
        ;
    }
    .funktionellbeskrivning {
        height: 150px;
        background-color: darkblue;

    }
    .vadvierbjuder2 {
        background-color: darkblue;
        font-size: 60px;
        display: flex;
        justify-content: center;
        color: white;
    }
    .funktionellabilder {
        display: grid;
        height: 300px;
        background-color: darkblue;
        grid-template-areas: 
        "powercircuitbild powercagebild hiitthegroundbild seniorbild"
        ;
    }
    .powercircuitbild {
        width: 300px;
        height: 300px;
        border:10px solid grey;
        border-radius: 50px;
    }
    .powercagebild {
        width: 300px;
        height: 300px;
        border:10px solid grey;
        border-radius: 50px;
    }
    .hiitthegroundbild {
        width: 300px;
        height: 300px;
        border:10px solid grey;
        border-radius: 50px;
    }
    .seniorbild {
        width: 300px;
        height: 300px;
        border:10px solid grey;
        border-radius: 50px;
    }
    .beskrivningrubriksvart {
        grid-area: br;
        color: black;
        font-size: 60px;
        margin-left: 20px;
    }
    .beskrivningompassetsvart {
        grid-area: bo;
        color: black;
        font-size: 20px;
        margin-left: 20px;
    }
    .vadvierbjuder3 {
        font-size: 60px;
        display: flex;
        justify-content: center;
        color: black;
    }
    .konditionsbilder {
        display: grid;
        height: 400px;
        grid-template-areas: 
        "aimbild lopningbild cykelbild"
        ;
    }
    .konditionsbild {
        width: 400px;
        height: 400px;
        border:10px solid grey;
        border-radius: 50px;
    }
    .styrkebeskrivning {
        height: 150px;
        background-color: orange;
    }
    .vadvierbjuder4 {
        background-color: orange;
        font-size: 60px;
        display: flex;
        justify-content: center;
        color: white;
    }
    .styrkebilder {
        display: grid;
        height: 250px;
        background-color: orange;
        grid-template-areas: 
        "bodypump bodycombat powercircuit powercage hiittheground"
        ;
    }
    .styrkebild {
        width: 250px;
        height: 250px;
        border:10px solid grey;
        border-radius: 50px;
    }
    .avslappningsbeskrivning {
        height: 150px;
        background-color: turquoise;
    }
    .vadvierbjuder5 {
        background-color: turquoise;
        font-size: 60px;
        display: flex;
        justify-content: center;
        color: white;
    }
    .avslappningsbilder {
        display: grid;
        height: 400px;
        background-color: turquoise;
        grid-template-areas: 
        "bodybalance yoga pilates"
        ;
    }
    .avslappningsbild {
        width: 400px;
        height: 400px;
        border:10px solid grey;
        border-radius: 50px;
    }
    .sportbeskrivning {
        height: 150px;
        background-color: green;
    }
    .vadvierbjuder6 {
        background-color: green;
        font-size: 60px;
        display: flex;
        justify-content: center;
        color: white;
    }
    .sportbilder {
        display: grid;
        height: 200px;
        background-color: green;
        grid-template-areas: 
        "fotboll spokboll volleyboll innebandy basket badminton"
        ;
    }
    .sportbild {
        width: 200px;
        height: 200px;
        border:10px solid grey;
        border-radius: 50px;
    }
    .dansbeskrivning {
        height: 150px;
        background-color: yellow;
    }
    .vadvierbjuder7 {
        background-color: yellow;
        font-size: 60px;
        display: flex;
        justify-content: center;
        color: black;
    }
    .dansbilder {
        display: grid;
        height: 400px;
        background-color: yellow;
        grid-template-areas: 
        "shbam zumba street"
        ;
    }
    .dansbild {
        width: 400px;
        height: 400px;
        border:10px solid grey;
        border-radius: 50px;
    }
    .crossfitbeskrivning {
        height: 200px;
        background-color: slategrey;
    }
    .vadvierbjuder8 {
        background-color: slategrey;
        font-size: 60px;
        display: flex;
        justify-content: center;
        color: white;
    }
    .crossfitbilder {
        display: grid;
        height: 400px;
        background-color: slategrey;
        grid-template-areas: 
        "begin str oly"
        ;
    }
    .ovrigbeskrivning {
        height: 200px;
        background-color: purple; 
    }
    .checker {
        font-size: 25px;
        color: white;
        padding: 10px;
        background-color: #78c70a;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        margin-left: 200px;
        margin-right: 200px;
        margin-bottom: 5px;
    }
    .vadvierbjuder9 {
        background-color: purple;
        font-size: 60px;
        display: flex;
        justify-content: center;
        color: white;
        font-size: 50px;
    }
    .poppisbilder {
        display: grid;
        height: 300px;
        background-color: purple;
        grid-template-areas: 
        "bp pc pi cy"
        ;
    }
    /**/
    .schemaintro {
        background-color: black;
        color: white;
        display: flex;
        justify-content: center;
    }
    .schemastrong {
        background-color: black;
        color: white;
        display: flex;
        justify-content: center;
        font-size: 20px;
    }
    
    .boka {
        font-size: 30px;
    }
    .bok {
        padding: 0.1px;
        border-radius: 20px;
        background-color: #78c70a;
        color: white;
        display: flex;
        justify-content: center;
    }
    .grey {
        background-color: black;
        padding: 0.1px;
        height: 700px;
    }
    .torsdagar {
        width: 100%;
        height: 600px;
        display: grid;
        grid-template-areas: 
        "t1 t2 t3"
        "t4 t5 t6"
        "t7 t8 t9"
        ;
    }
    .torsdagrubrik {
        font-size: 25px;
        display: flex;
        justify-content: center;
        color: white;
    }
    .torsdagbeskrivning {
        font-size: 15px;
        display: flex;
        justify-content: center;
        color: white;
    }
    .bokningsknapp {
        font-size: 20px;
        display: flex;
        justify-content: center;
        color: white;
        padding: 5px;
        background-color: #78c70a;
        margin-top: 10px;
        margin-left: 90px;
        margin-right: 90px;
        border-radius: 30px;
    }
    .torsdag183 {
        color: white;
        font-size: 30px;
        display: flex;
        justify-content: center;
    }
    .jadu {
        display: flex;
        justify-content: center;
        margin: 20px;
        font-size: 30px;
    }
    .Gibraltargatan {
        background-color: red;
        color: white;
        border-radius: 20px;
        margin: 20px;
    }
    .Kaserntorget {
        background-color: green;
        color: white;
        border-radius: 20px;
        margin: 20px;
    }
    .lindholmen {
        background-color: blue;
        color: white;
        border-radius: 20px;
        margin: 20px;
    }
    .klatterlabbet {
        background-color: purple;
        color: white;
        border-radius: 20px;
        margin: 20px;
    }
    .mellanrum2 {
        background-color: black;
        font-size: 20px;
    }
    .annandag {
        background-color: #78c70a;
        color: white;
        font-size: 20px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-content: center;
        margin-left: 40%;
        margin-right: 40%;
        border-radius: 20px;
    }
    .annandag2 {
        background-color: black;
        height: 100px;
    }
    .zoomingaproblem {
        display: grid;
        grid-template-areas: 
        "zb zr"
        ;
        background-color: black;
    }
    .zoombild {
        width: 600px;
        height: 400px;
    }
    .zoomtext {
        width: 600px;
        height: 400px;
    }
    .annandag3 {
        background-color: black;
        height: 100px;
        display: grid;
        grid-template-areas: 
        "an an"
        ;
    }
    .annandag4 {
        background-color: #78c70a;
        color: white;
        font-size: 20px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-content: center;
        border-radius: 20px;
        margin-left: 20%;
        margin-right: 20%;
        margin-bottom: 20px;
    }
    .bokningsrubrik {
        background-color: black;
        color: white;
        display: flex;
        justify-content: center;
    }
    .bokningsreg {
        height: 400px;
        background-color: black;
    }
    .vadardethar {
        font-size: 25px;
        color: white;
        background-color: black;
        display: flex;
        justify-content: center;
    }
    .lista {
        font-size: 20px;
        color: white;
        background-color: black;
        margin: 40px;
    }
    .blimedlemrubrik {
        background-color: black;
        color: white;
        font-size: 30px;
    }
    .anlaggningintro {
        background-color: black;
        color: white;
        display: flex;
        justify-content: center;
    }
    .anlaggningbeskrivning {
        background-color: black;
        color: white;
        display: flex;
        justify-content: center;
        font-size: 20px;
    }
    .grey1 {
        background-color: black;
    }
    .anlaggningbilder {
        width: 100%;
        height: 260px;
        display: grid;
        grid-template-areas:  
        "ab ab ab"
        ;
    }
    .abab {
        width: 350px;
        display: flex;
        justify-content: center;
        margin-left: 40px;
        border-radius: 20px;
    }
    .anlaggningtext {
        width: 100%;
        height: 260px;
        display: grid;
        grid-template-areas:  
        "var1 var2 var3"
        ;
        margin-left: 60px;
    }
    .varte1 {
        color: white;
    }
    .varte2 {
        color: white;
    }
    .varte3 {
        color: white;
    }
    .kontaktis {
        padding: 3px;
        background-color: #78c70a;
        border-radius: 20px;
    }
    .blacks {
        background-color: black;
    }
}
@media only screen and (max-width: 429px) {
    .mobilestart {
        width: 100%;
        height: 100px;
        font-family: 'Work Sans', sans-serif;
    }
    .navdesk, .logointro, .fade-layer, .naviga, .blacks .nav4, .nav1, .nav2, .nav3, .logo, .corona, .warning, .aktuellt, .welcome, .bildspel, .gymback1, .bryt, .w3-content w3-display-container, .myslides, .w3-button w3-black w3-display-left, .w3-button w3-black w3-display-right, .gymback1, .bryt, .kuriosa, .article1, .insbild, .tryckknapp, .article2, .article3, .article4, .article5, .article6, .belowfooter1, .funktionellabilder, .powercircuitbild, .powercagebild, .hiitthegroundbild, .seniorbild, .konditionsbeskrivning, .beskrivningrubriksvart, .beskrivningompassetsvart, .vadvierbjuder3, .konditionsbilder, .styrkebeskrivning, .vadvierbjuder4, .styrkebilder, .styrkebild, .avslappningbeskrivning, .vadvierbjuder5, .avslappningsbilder, .avslappningsbild, .sportbeskrivning, .vadvierbjuder6, .sportbilder, .sportbild, .dansbeskrivning, .vadvierbjuder7, .dansbilder, .dansbild, .crossfitbeskrivning, .vadvierbjuder8, .crossfitbilder, .ovrigbeskrivning, .vadvierbjuder9, .poppisbilder, .grupptraningintro, .grupptraningrubrik, .beskrivgrupp, .gruppnavigator, .core, .funktionelltraning, .konditionstraning, .styrketraning, .avslappning, .bollsport, .crossfit, .dans, .ovrigt, .corebeskrivning, .beskrivningrubrik, .beskrivningompasset, .vadvierbjuder, .corebilder, .konditionsbild, .funktionellbeskrivning, .vadvierbjuder2, .footermobil1, .schemaintro, .schemarubrik, .schemastrong, .grey, .torsdag183, .jadu, .Gibraltargatan, .Kaserntorget, .Klatterlabbet, .mellanrum2, .annandag3, .annandag4, .annandag2, .annandag, .zoomingaproblem, .zoombild, .zoomtext, .bokningsreg, .bokningsrubrik, .vadardethar, .anlaggningintro, .anlaggningbeskrivning, .annlaggningbilder, .abab, .anlaggningtext, .varte1, .varte2, .varte3, .kontaktis, .blienmedlem, .blimedlemrubrik, .blimedlembeskrivning, .pga, .torsdagar, .torsdagrubrik, .torsdagbeskrivning, .bokningsknapp, .torsdag1, .torsdag2, .torsdag3, .torsdag4, .torsdag5, .torsdag6, .torsdag7, .torsdag8, .torsdag9 {
        display: none;
    }
    .menu{
        height: 60vh;
        width: 100%;
        background: black;
        position: fixed;
        top: 0;
        left: -120vw;
        transition: left 0.3s;
        box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
        z-index: 10;
        display: grid;
        grid-template-areas: 
        "rh"
        "rh"
        "rh"
        "rh2"
        ;
    }
    
    .menu-button{
        cursor: pointer;
        display: inline;
        grid-area: mb;
    }
    
    .menu-button i.material-icons{
        font-size: 5rem;
        color: white;
        margin-left: 110px;
        margin-top: 10px;
    }
    
    .show{
        left: 0;
    }
    
    .fade-layer{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: 5;
    }
    .fade-layer.visible{
        display: block;
    }
.navmobil {
        width: 100%;
        height: 90px;
        background-color: black;
        grid-template-areas: 
        "lo mb"
        ;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }
    .logomobil {
        width: 40%;
        height: 60%;
        margin-left: 20px;
        margin-bottom: 60px;

    }
    .logohamburg {
        width: 220px;
        height: 90px;
        margin-left: 90px;
        margin-top: 10px;
        border-radius: 20px;
    }
    .rubrikhamburg {
        color: white;
        font-size: 20px;
        display: flex;
        justify-content: center;
    }
    .rubrikhamburg2 {
        color: white;
        font-size: 20px;
        margin-left: 110px;
        margin-right: 110px;
        margin-bottom: 80px;
        background-color: #78c70a;
        border-radius: 10px;
        display: flex;
        justify-content: center;
    }
    .welcome1 {
        width: 100%;
        height: 180px;
    }
    .gymfaktis {
        width: 100%;
        height: 200px;
    }
    .yoga {
        width: 100%;
        height: 280px;
    }
    .yogafakta {
        background-color: black;
        color: white;
        width: 100%;
        height: 150px;
    }
    .yinis {
        font-size: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .yinis2 {
        font-size: 15px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .yinis3 {
        font-size: 20px;
        margin-left: 50%;
        padding: 5px;
        background-color: #78c70a;
        border-radius: 30px;
    }
    .klattra {
        width: 100%;
        height: 240px;
    }
    .yinis4 {
        font-size: 20px;
        margin-left: 20%;
        padding: 5px;
        background-color: #78c70a;
        border-radius: 30px;
        margin-top: 30px;
    }
    .belowfooter {
        background-color: #191919;
        color: white;
    }
    .belowrubrik {
        font-size: 20px;
    }
    .footermobil {
        width: 100%;
        height: 20px;
        background-color: black;
        color: white;
    }
    .footerlogo {
        width: 40px;
        height: 15px;
    }
.grupptraningrubrikmobil {
    font-size: 30px;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    margin: 0;
}
.grupptraningbeskrivningmobil {
    font-size: 15px;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
}
.grupptraningmobil {
    background-color: black;
}
.utbudmobil {
    height: 1050px;
}
.varautbud {
    font-size: 35px;
    color: white;
    display: flex;
    justify-content: center;
}
.corebildmobil {
    background-color: darkred;
    border-radius: 30px;
    width: 340px;
    height: 70px;
    margin: 20px;
}
.funktionellbildmobil {
    background-color: blue;
    border-radius: 30px;
    width: 340px;
    height: 70px;
    margin: 20px;
}
.konditionsbildmobil {
    background-color: white;
    border-radius: 30px;
    width: 340px;
    height: 70px;
    margin: 20px;
}
.styrkebildmobil {
    background-color: orange;
    border-radius: 30px;
    width: 340px;
    height: 70px;
    margin: 20px;
}
.yogamobil {
    background-color: turquoise;
    border-radius: 30px;
    width: 340px;
    height: 70px;
    margin: 20px;
}
.bollsportmobil {
    background-color: darkgreen;
    border-radius: 30px;
    width: 340px;
    height: 70px;
    margin: 20px;
}
.crossfitmobil {
    background-color: grey;
    border-radius: 30px;
    width: 340px;
    height: 70px;
    margin: 20px;
}
.dansbildmobil {
    background-color: yellow;
    border-radius: 30px;
    width: 340px;
    height: 70px;
    margin: 20px;
}
.ovrigbildmobil {
    background-color: purple;
    border-radius: 30px;
    width: 340px;
    height: 70px;
    margin: 20px;
}
.corerutan {
    background-color: darkred;
    color: white;
}
.beskrivningrubrikmobil {
    font-size: 40px;
    display: flex;
    justify-content: center;  
}
.beskrivningompassetmobil {
    display: flex;
    justify-content: center;
}
.vadvierbjuderm {
    display: flex;
    font-size: 40px;
    justify-content: center;
}
.corerutabild { 
width: 200px;
height: 200px;
border:10px solid grey;
border-radius: 50px;
}
.funktionellrutan {
background-color: darkblue;
color: white;
}
.konditionsrutan {
    background-color: white;
    color: black;
}
.avslappningsrutan {
    background-color: turquoise;
    color: white;
}
.styrkerutan {
    background-color: orange;
    color: white;
}
.bollsportrutan {
    background-color: darkgreen;
    color: white;
}
.crossfitrutan {
    background-color: SLATEgrey;
    color: white;
}
.dansrutan {
    background-color: yellow;
    color: black;
}
.ovrigruta {
    background-color: purple;
    color: white;
}
.checkerM {
    display: flex;
    justify-content: center;
    margin: 20px;
    font-size: 30px;
    padding: 10px;
    background-color: #78c70a;
    border-radius: 30px;

}
.bokningmobil {
    background-color: black;
    color: white;
}
.black {
    background-color: black;
}
.bokarubrikmobil {
    font-size: 30px;
    display: flex;
    justify-content: center;
}
.bokarubrikbeskrivning {
    font-size: 15px;
    display: flex;
    justify-content: center;
}
.torsdag183m {
    font-size: 25px;
    display: flex;
    justify-content: center;
}
.centerbesok {
    color: white;
    font-size: 30px;
}
.GibraltargatanM {
    padding: 1px;
    margin: 40px;
    margin-top: 20px;
    background-color: red;
    display: flex;
    justify-content: center;
    border-radius: 50px;
}
.KaserntorgetM {
    padding: 1px;
    margin: 40px;
    margin-top: 20px;
    background-color: green;
    display: flex;
    justify-content: center;
    border-radius: 50px;
}
.LindholmenM {
    padding: 1px;
    margin: 40px;
    margin-top: 20px;
    background-color: blue;
    display: flex;
    justify-content: center;
    border-radius: 50px;
}
.KlatterlabbetM {
    padding: 1px;
    margin: 40px;
    margin-top: 20px;
    background-color: purple;
    display: flex;
    justify-content: center;
    border-radius: 50px;
}
.tillboka {
    padding: 10px;
    color: white;
    margin: 30px;
    display: flex;
    justify-content: center;
    background-color: #78c70a;
    border-radius: 40px;
}
.zoombildM {
    width: 100%;
    background-image: url(../img/zoom.jfif);
}
.zoombildB {
    width: 100%;
}
.seschematM {
    padding: 10px;
    color: white;
    margin: 50px;
    display: flex;
    justify-content: center;
    background-color: #78c70a;
    border-radius: 40px;
}
.bokningsreglerM {
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
}
.bokningRB {
    color: white;
    font-size: 10px;
    display: flex;
    justify-content: center;
}
.listan {
    color: white;
    font-size: 15px; 
}
.fragor {
    color: white;
    font-size: 15px;
}
.anlaggningsrubrikmobil {
    color: white;
    display: flex;
    justify-content: center;
}
.anlaggningrubrikbeskrivning {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 20px;
} 
.vartee {
    width: 100%;
    border-radius: 40px;

}
.gymrubrik {
    color: white;
    display: flex;
    justify-content: center;
}
.adress {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 20px;
}
.postnummer {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 15px;
}
.oppetider {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 20px;
}
.kontaktism {
    color: white;
    display: flex;
    justify-content: center;
    padding: 3px;
    margin: 10px;
    background-color: #78c70a;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 18px;
    border-radius: 20px;
}
.blimedlemmobil {
    color: white;
}
.blimedlemmobilrubrik {
    display: flex;
    justify-content: center;
}
.blimedlembeskrivningm {
    font-size: 19px;
    display: flex;
    justify-content: center;
}
.rubis {
    color: white;
    display: flex;
    justify-content: center;
}
.rubisbe {
    color: white;
    display: flex;
    justify-content: center;
}
.knappis {
    color: white;
    display: flex;
    justify-content: center;
    margin: 15px;
    font-size: 15px;
    padding: 5px;
    background-color: #78c70a;
    border-radius: 20px;
}
}
